---
const { data } = Astro.props;
---

<li class="border-t-border-primary border-t">
  <article class="mt-4">
    <footer class="flex flex-wrap gap-4 items-start">
      <p class="text-text-secondary text-body-small">{data.step}</p>
      <h3 class="heading-small text-text-primary w-[363px]">{data.heading}</h3>
      <p class="text-text-secondary text-body-small w-[484px]">{data.description}</p>
    </footer>
  </article>
</li>
