---
import { Icon } from "astro-icon/components";
import Navlink from "../atoms/Navlink.astro";
import Button from "../atoms/Button.astro";
import NavlinkDropdown from "../molecules/NavlinkDropdown.astro";
import NavMobile from "../molecules/NavMobile.astro";
---

<header class="fixed w-full flex items-center justify-between glass border-b border-b-border-primary py-4 px-[max(1rem,_50%_-_var(--content-width)_/_2)] z-40">
  <nav class="flex gap-8 items-center">
    <a href="/" class="text-body-xlarge flex items-center"><Icon name="wordmark" class="text-body-xlarge text-text-primary hidden sm:block" /><Icon name="logomark" class="text-heading-medium text-text-primary" /></a>
    <ul class="hidden md:flex gap-8 md:items-center">
      <li><Navlink href="/cases">Cases</Navlink></li>
      <li><NavlinkDropdown label="Services" variant="services" /></li>
      <li><Navlink href="/build">Blog</Navlink></li>
      <li><NavlinkDropdown label="Om Os" variant="about" href="build" /></li>
    </ul>
  </nav>

  <div id="green" class="flex flex-col items-end">
    <div id="yellow" class="flex items-center gap-4">
      <Button size="base" id="openModalBtnDesk" hide="mobile">Kontakt os</Button>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</header>
<NavMobile />

<style>
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--color-text-primary);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  @media (min-width: 768px) {
    .burger {
      display: none;
    }
  }
</style>

<script>
  // ======== ELEMENTER ========
  const burger = document.querySelector(".burger");
  const navMobile = document.querySelector("#navMobile");
  const openModalMob = document.querySelector("#openModalBtnMob");
  const modalMob = document.getElementById("contactModalMob");
  const openFormMob = document.querySelector("#openFormBtn");
  const closeModal = document.getElementById("closeModalBtn");
  const btnContainer = document.querySelector("#openFormBtnContainer");
  const info = document.querySelector("#contactInformation");
  const form = document.querySelector("#messageForm");
  const openButtonDesk = document.querySelector("#openModalBtnDesk");
  const modalDesk = document.getElementById("contactModalDesk");
  const closeBtnDesk = document.getElementById("closeModalBtnDesk");

  // ======== TILSTANDE ========
  let burgerIsOpen = false;
  let formIsOpen = false;

  // ======== BURGER FUNKTIONER ========
  function toggleBurgerMenu() {
    burgerIsOpen = !burgerIsOpen;
    navMobile?.classList.toggle("translate-x-full");
    burger?.classList.toggle("active");
  }

  function closeBurgerMenu() {
    burgerIsOpen = false;
    navMobile?.classList.add("translate-x-full");
    burger?.classList.remove("active");
  }

  // ======== MODAL MOBIL FUNKTIONER ========
  function openMobileModal() {
    modalMob?.classList.remove("hidden");
    modalMob?.classList.add("grid");
    form?.classList.add("hidden");
    info?.classList.remove("hidden");
    btnContainer?.classList.remove("hidden");
    formIsOpen = false;
    closeBurgerMenu();
  }

  function openMobileForm() {
    formIsOpen = true;
    btnContainer?.classList.add("hidden");
    form?.classList.remove("hidden");
    form?.classList.add("grid");
    info?.classList.add("hidden");
  }

  function closeMobileModal() {
    modalMob?.classList.remove("grid");
    modalMob?.classList.add("hidden");

    if (formIsOpen) {
      form?.classList.remove("grid");
      form?.classList.add("hidden");
      info?.classList.remove("hidden");
      btnContainer?.classList.remove("hidden");
      formIsOpen = false;
    }
  }

  // ======== MODAL DESKTOP FUNKTIONER ========
  function openDesktopModal() {
    modalDesk?.classList.remove("hidden");
    modalDesk?.classList.add("grid");
  }

  function closeDesktopModal() {
    modalDesk?.classList.add("hidden");
  }

  // ======== EVENT LISTENERS ========
  burger?.addEventListener("click", toggleBurgerMenu);
  openModalMob?.addEventListener("click", openMobileModal);
  openFormMob?.addEventListener("click", openMobileForm);
  closeModal?.addEventListener("click", closeMobileModal);
  openButtonDesk?.addEventListener("click", openDesktopModal);
  closeBtnDesk?.addEventListener("click", closeDesktopModal);

  modalDesk?.addEventListener("click", (e) => {
    if (e.target === modalDesk) {
      closeDesktopModal();
    }
  });
</script>
