---
import { Icon } from "astro-icon/components";
import Link from "../atoms/Link.astro";
import GraphicIcons from "../atoms/GraphicIcons.astro";

const { title, text, variant, button } = Astro.props;
---

<section class="grid grid-cols-4 lg:grid-cols-12  gap-6 lg:gap-x-6 border-b border-b-border-secondary mt-11">
  <article class="col-start-1 col-span-4 row-start-2  lg:col-span-8 lg:row-start-3 lg:row-span-1 md:py-20 z-10">
    <h1 class="heading-xlarge text-text-primary pb-3 lg:pb-5">{title}</h1>
    <p class="text-body-large text-text-secondary lg:max-w-2xl mb-8">{text}</p>
    {button && <Link variant="ButtonSecondary"icon ="arrow-left" iconPosition="left" href="javascript:history.back()">Gå tilbage hvor du kom fra</Link> }
  </article>
 { variant == "default" &&
 ( 
 <GraphicIcons id="" shape="butterfly" size="small" position="col-start-3 row-start-3 lg:col-start-9 place-self-center" />   
 <GraphicIcons id="" shape="flower" size="large" position="col-start-4 row-start-3 lg:col-start-10  lg:col-span-3 lg:place-self-end" />   
 <GraphicIcons id="" shape="fan" size="medium" position=" col-start-2 row-start-1 lg:col-start-4 lg:row-start-1 lg:row-span-2 lg:place-self-center " />   


 )}
</section>

